<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">skyapp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Hello, {{ vm.currentUser.username }}</a></li>
                <li><a href="#" ng-click="vm.logOut()">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Major airports</h2>
    <p>Click on a row for more details</p>
    <table class="table">
        <thead>
        <tr>
            <th>Airport</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="vm.openModal($index)" ng-repeat="airport in vm.airports" style="cursor:pointer">
            <td>{{ airport.name }}</td>
            <td>{{ airport.country }}</td>
        </tr>
        </tbody>
    </table>
</div>
