<div class="modal-header">
    <div class="row">
        <div class="col-lg-9">
            <h3>{{ vm.airport.name }}</h3>
        </div>
    </div>
</div>
<div class="modal-body">
    Show data for the last <input style="width:50px" type="number" ng-model="vm.timeOffset" ng-change="vm.update()" /> minutes
    <div style="overflow-x: auto; height:300px;">
        <h3>Arrivals</h3>
        <table class="table">
            <thead>
            <tr>
                <th>icao24 code</th>
                <th>Callsign</th>
                <th>Country</th>
                <th>Is on ground?</th>
                <th>Heading</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in vm.arrivals">
                <td>{{ state[0] }}</td>
                <td>{{ state[1] }}</td>
                <td>{{ state[2] }}</td>
                <td>{{ state[8] }}</td>
                <td>{{ state[10] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-x: scroll; height:300px;">
        <h3>Departures</h3>
        <table class="table">
            <thead>
            <tr>
                <th>icao24 code</th>
                <th>Callsign</th>
                <th>Country</th>
                <th>Is on ground?</th>
                <th>Heading</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in vm.departures">
                <td>{{ state[0] }}</td>
                <td>{{ state[1] }}</td>
                <td>{{ state[2] }}</td>
                <td>{{ state[8] }}</td>
                <td>{{ state[10] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>
