<div class="container">
    <div class="col-lg-4 col-lg-offset-4 centered">
        <form class="form-horizontal" method="post" action="#">
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Username</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">U</span>
                        <input type="text" ng-model="vm.form.username" class="form-control" name="name" id="name"  placeholder="Username"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">P</span>
                        <input type="password" ng-model="vm.form.password" class="form-control" name="password" id="password"  placeholder="Password"/>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="button" ng-click="vm.authenticate()" class="btn btn-primary btn-lg btn-block login-button">Login</button>
            </div>
        </form>
    </div>
</div>
